{% extends 'main.html' %}


{%block content%}

<div class="col-sm-8 text-left">

      <div class="container">
        <h2>Registro de empresa</h2>
        <form action="/action_page.php">
          <div class="form-group">
            <label for="rut">RUT  </label>
            <input type="number" class="form-control" id="rut" placeholder="Introducir Nro RUT" name="rut">
          </div>
          <button type="submit" class="btn btn-default">Submitt</button>
        </form>
      </div>

    </div>


{%endblock%}